<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a class="navbar-brand" [class.addGreen]="isActive(['Home'])" [routerLink]="['Home']">ngProject</a></li>
        <li [class.active]="isActive(['Users'])"><a [routerLink]="['Users']">Users</a></li>
        <li [class.active]="isActive(['Posts'])"><a [routerLink]="['Posts']">Posts</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>