
<h1>User</h1>
<a class="btn btn-primary" [routerLink]="['NewUser']">Add User</a>
<br /><br />
<div *ngIf="isLoading">
	<i class="fa fa-refresh fa-spin fa-3x fa-fw margin-bottom"></i>
	<span class="sr-only">Loading...</span>
</div>
<table class="table table-bordered" *ngIf="!isLoading"> 
	<thead> 
		<tr> 
			<th>Name</th>
			<th>Email</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr> 
	</thead> 
	<tbody> 
		<tr *ngFor="#user of users"> 
			<td>{{ user.name }} </td>
			<td>{{ user.email }} </td>
			<td><i class="glyphicon glyphicon-edit"></i></td>
			<td><i class="glyphicon glyphicon-remove"></i></td>
		</tr> 
	</tbody> 
</table>
